.draggable-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.canvas-dash {
    background-color: #CEEAEE;
    border-radius: 5px;
    width: 103vh;
    height: 30vh;
    border-width: 5px;
    border-color: black;
}