/* App.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Style pour le conteneur du FileUploader */
.FileUploader-container {
  text-align: center;
}

.FileUploader {
  border: 2px dashed #ccc;
  padding: 20px;
  cursor: pointer;
}

.FileUploader:hover {
  border-color: #666;
}

.FileUploader.active {
  border-color: #2196F3;
}

/* Style pour le texte à l'intérieur du FileUploader */
.FileUploader-text {
  font-size: 16px;
  color: #888;
}

/* Style pour la zone de dépôt (hover) */
.FileUploader-dropzone {
  border: 2px dashed #2196F3;
  padding: 10px;
  margin-top: 10px;
}

/* Style pour le message de validation du fichier */
.FileUploader-success {
  color: #4CAF50;
  font-weight: bold;
}

/* Style pour le message d'erreur du fichier */
.FileUploader-error {
  color: #f44336;
  font-weight: bold;
}
